h1 {
    text-align: center;
    font-size: 64px;
    padding: 10px;
}

h2 {
    font-size: 32px;
    text-shadow: 4px 4px 2px #808080;
}

p {
    font-size: 24px;
    padding-top: 15px;
}

div {
    min-height: 150px;
    padding: 25px
}

img {
    max-width: 550px;
    height: auto;
    display: block;
    margin-left: auto; margin-right: auto;
}

body {
    font-family: 'Times New Roman', sans-serif;
    color: #FFFFFF;
    background-color: #000000;
}

#red {
    background-color:#ff0000;
    text-align: right;
}

#yellow {
    background-color: #ffff00;
    text-align: right;
    color: #000000;
}

#yellow > h2 {
    text-shadow: 4px 4px 2px #c7e2c7;
}

#green {
    background-color: #008000;
    text-align: left;
}

#blue {
    background-color: #0000FF;
    text-align: left;
}

footer {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}